
<div class="container">
    
    <div class="price-card">
      <h2>AWS Solution Architect</h2>
      <p>Price: 20,000</p>
      <button (click)="initiatePayment()">Pay</button>
  
    </div>

    <div class="price-card">
      <h2>Azure Architect</h2>
      <p>Price: 20,000</p>
      <button (click)="initiatePayment()">Pay</button>
    
    </div>
    
    <div class="price-card">
      <h2>Kubernetes Administrator</h2>
      <p>Price: 20,000</p>
      <button (click)="initiatePayment()">Pay</button>
   
    </div>
  </div>
  